<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3 mt-2">
    <%= form.label :title, "Başlık" %>
    <%= form.text_field :title, class: 'form-control mt-1' %>
  </div>

  <div class="mb-3">
    <%= form.label :description, "Açıklama" %>
    <%= form.text_area :description, class: 'form-control mt-1' %>
  </div>

  <div class="mb-3">
    <%= form.label :header_image, "Başlık Fotoğrafı" %>
    <%= form.file_field :header_image %>
    <div class="mt-1">
      <% if post.header_image.present? %>
        <p>Seçilen Fotoğraf:</p>      
        <%= image_tag(post.header_image, width: '100%')  %>
      <% end %>  
    </div>
  </div>

  <div class="actions d-grid">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
